*{margin:0;padding:0;}
img{border:0;vertical-align: top;}
ul,ol,li{list-style:none;}
html,body{height:100%;}
body{width:100%;background: linear-gradient(150deg, #e8b97b, #856558);font-size:12px;font-family:Arial;}

.player-main{
	width:350px;height:95px;background:#fff;position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;
}
.music-cover{width:95px;height:95px;float: left;}
.music-cover img{width:95px;height:95px;float: left;}

.music-play{float: left;width:215px;padding:18px 20px;}
.music-info{height:14px;clear:both;}
.music-author{float: left;color:#555;font-weight: bold;}

.music-operate{height:7px;float: right;padding-top:4px;}
.music-operate a{display:block;float: left;margin-left:10px;}
.music-operate a.prev i{background-position:0 0;}
.music-operate a.play i{background-position:-50px 0;}
.music-operate a.pause i{background-position:-16px 0;}
.music-operate a.next i{background-position:-32px 0;}
.music-operate i{display:block;width:7px;height:7px; background-image:url("../images/icon.png");background-repeat:no-repeat;}

.music-name{margin-top: 7px;line-height: 1;color:#555;}
.music-time{margin-top: 5px;}
.music-time .time{text-align: right;color:#a7a7a7;display: block;line-height: 1;}
.music-time .progress{background:#f2f2f2;height:5px;position:relative;margin-top: 4px;cursor:pointer;}
.music-time .progress i{
	display: block;position:absolute;height:5px;left:0;top:0;width:0%;background:#dadada;z-index:1;
	transition:all 0.2s ease-in-out;
}
.music-time .progress span{
	display: block;position:absolute;height:5px;left:0;top:0;width:0%;background:#979797;z-index:2;
	transition:all 0.2s ease-in-out;
}

